<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">

<p>login-component</p>
<img id="topimage" src="/assets/shimanto.jpg">

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label>ユーザーネーム</label><br><input type="text" formControlName="username">
    </div>
    <div>
        <label>パスワード</label><br><input type="password" formControlName="password">
    </div>
    <br>
    <button [disabled]="loginForm.invalid||isDisabled">ログイン</button>
</form>
<p>{{status_message}}</p>

</div>
<!--
    <label>ユーザーネーム</label><br><input type="text" formControlName="username">
    <label>パスワード</label><br><input type="password" formControlName="password">
    <button [disabled]="loginForm.invalid">ログイン</button>
<div class="header center">Login</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
        <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" requred>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>

    <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
    </div>
</form>
-->