<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">

<p>product-component</p>

<input #keyword id="keyword">
<button (click)="filterProducts(keyword.value)">フィルター</button>
<!--
<div *ngIf="products">
    <ul>
        <li *ngFor="let prd of products">id:{{prd.product_id}}  {{prd.product_name}}</li>
    </ul>
</div>
-->
<table class="table">
    <thead>
      <tr><th>COMPANY</th><th>PRODUCT_ID</th><th>PRODUCT_NAME</th>
          <th>QTY</th><th>USD</th><th>JPY</th><th>NOTE</th><th>HIDDEN</th><th>ADDED</th><th>UPDATED</th><th>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{prod.company}}</td>
        <td>{{prod.product_id}}</td>
        <td>{{prod.product_name}}</td>
        <td>{{prod.quantity}}</td>
        <td>{{prod.price_usd}}</td>
        <td>{{prod.price_jpy}}</td>
        <td>{{prod.note}}</td>
        <td>{{prod.hidden}}</td>
        <td>{{prod.date_added}}</td>
        <td>{{prod.date_updated}}</td>
        <td><button (click)="openProductEditDialog(prod._id, prod.product_id, prod.product_name)">編集</button></td>
        <td><button (click)="openProductDeleteDialog(prod._id, prod.product_id, prod.product_name)">削除</button></td>
      </tr>
    </tbody>
  </table>

<hr>
<button id="btn_product_add" (click)="openProductAddDialog()">追加</button>

</div>