<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">

<h2 mat-dialog-title>Add Product</h2>


<form [formGroup]="addForm" (ngSubmit)="save()">
    <mat-dialog-content>
        <div>
            <label>company<input type="text" formControlName="company"></label><br>
            <label>product_id<input type="text" formControlName="product_id"></label><br>
            <label>product_name<input type="text" formControlName="product_name"></label><br>
            <label>quantity<input type="text" formControlName="quantity"></label><br>
            <label>price_usd<input type="text" formControlName="price_usd"></label><br>
            <label>price_jpy<input type="text" formControlName="price_jpy"></label><br>
            <label>note<input type="text" formControlName="note"></label><br>
            <label>hidden<input type="checkbox" formControlName="hidden"></label><br>
        </div>

    <p>{{error_message}}</p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button>Save</button><button type="button" (click)="cancel()">Cancel</button>
    </mat-dialog-actions>
    <br>
</form>
</div>

<!--
    <button [disabled]="addForm.invalid">Save</button><button type="button" (click)="cancel()">Cancel</button>

    <button class="mat-raised-button" (click)="save(productid.value, productname.value)">Save</button>
    <button class="mat-raised-button" (click)="cancel()">Cancel</button>


    <h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <input matInput
                placeholder="Course Description"
               formControlName="description">

    </mat-form-field>

    <mat-form-field>

        <mat-select placeholder="Select category"
            formControlName="category">

            <mat-option value="BEGINNER">
                Beginner</mat-option>
            <mat-option value="INTERMEDIATE">
                Intermediate</mat-option>
            <mat-option value="ADVANCED">
                Advanced</mat-option>

        </mat-select>

    </mat-form-field>

    <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker"
            formControlName="releasedAt">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field>

    <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="longDescription">

        </textarea>

    </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>
-->