<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">

<p>product-component</p>

<input #productid id="product-id">
<button (click)="getProducts()">製品取得</button>
<!--
<div *ngIf="products">
    <ul>
        <li *ngFor="let prd of products">id:{{prd.product_id}}  {{prd.product_name}}</li>
    </ul>
</div>
-->
<table class="table">
    <thead>
      <tr><th>PRODUCT_ID</th><th>PRODUCT_NAME</th><th>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{prod.product_id}}</td>
        <td>{{prod.product_name}}</td>
        <td><button (click)="editProduct(prod._id)">編集</button></td>
        <td><button (click)="editProduct(prod._id)">削除</button></td>
      </tr>
    </tbody>
  </table>

<hr>
<button id="btn_add_product">追加</button>

</div>