<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">

    <h2 mat-dialog-title>Delete Product</h2>
    
    
    <mat-dialog-content>
        <div>Product ID:</div>
        <div>Product Name:</div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <p>Are you sure to delete?</p>
        <button class="mat-raised-button" (click)="delete()">Delete</button>
        <button class="mat-raised-button" (click)="cancel()">Cancel</button>
    </mat-dialog-actions>
    
</div>